<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Inventory Management System</h1>

    <div class="grid-container">
        <div class="grid-item1">
            <h2>Products <a class="button" href="{{ url_for('product_create') }}">Add product</a></h2>
            <ul>
                {% if products %}
                    {% for product in products %}
                        <li>{{ product['name'] }} - Stock: {{ product['quantity_in_stock'] }}
                            <div class="action-links">
                                <a href="{{ url_for('product_update', product_id=product['_id']) }}">Edit</a>
                                <a class="delete-link" href="{{ url_for ('product_delete', product_id=product['_id']) }}">Delete</a>
                            </div>                     
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No products available</li>
                {% endif %}
            </ul>
        </div>

        <div class="grid-item2">
            <h2>Sales <a class="button" href="{{ url_for('sale_create') }}">Create sale</a></h2>
            <ul>
                {% if sales %}
                    {% for sale in sales %}
                    <li>{{ sale['product']['name'] }} - Quantity Sold: {{ sale['quantity_sold'] }} - Date: {{ sale['sale_date'] }}
                        <div class="action-links">
                            <a class="delete-link" href="{{ url_for ('sale_delete', sale_id=sale['_id']) }}">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>No sales recorded</li>
                {% endif %}
            </ul>
        </div>

        <div class="grid-item3">
            <h2>Invoices <a class="button" href="{{ url_for('invoice_create') }}">Create invoice</a></h2>
            <ul>
                {% for invoice in invoices %}
                    <li>
                        <a href="{{ url_for ('invoice_detail', invoice_id=invoice['_id']) }}">
                            Invoice nr. {{ invoice.invoice_number }}, total amount: {{ invoice.total_amount }} €
                        </a>
                        <a class="delete-link" href="{{ url_for('invoice_delete', invoice_id=invoice['_id']) }}">Delete</a>
                    </li>
                {% else %}
                    <li>No invoices available.</li>
                {% endfor %}
            </ul>       
        </div>
    </div>

</body>
</html>