<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1 style="text-align: center;">Inventory Management System</h1>

    <div class="grid-container">
        <div class="grid-item">
            <h2>Products</h2>
            <ul>
                {% if products %}
                    {% for product in products %}
                        <li>{{ product['name'] }} - Stock: {{ product['quantity_in_stock'] }}
                            <div class="action-links">
                                <a href="{{ url_for('update_product', product_id=product['id']) }}">Edit</a>
                                <a class="delete-link" href="{{ url_for ('delete_product', product_id=product['id']) }}">Delete</a>
                            </div>                     
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No products available</li>
                {% endif %}
            </ul>
        </div>

        <div class="grid-item">
            <h2>Sales</h2>
            <ul>
                {% if sales %}
                    {% for sale in sales %}
                    <li>{{ sale['product']['name'] }} - Quantity Sold: {{ sale['quantity_sold'] }} - Date: {{ sale['sale_date'] }}
                        <div class="action-links">
                            <a class="delete-link" href="{{ url_for ('delete_sale', sale_id=sale['id']) }}">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>No sales recorded</li>
                {% endif %}
            </ul>
        </div>

        <div class="grid-item">
            <h2>Options</h2>
            <a class="button" href="{{ url_for('manage_products') }}">Add new product</a>
            <a class="button" href="{{ url_for('manage_sales') }}">Create sale</a>
            <a class="button" href="{{ url_for('create_invoice') }}">Create invoice</a>
        </div>
    </div>

</body>
</html>
