<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="invoice-detail">
        <h1>Invoice Details</h1>

        <p>Invoice Number: <strong>{{ invoice['invoice_number'] }}</strong></p>
        <p>Total Amount: {{ invoice['total_amount'] }} €</p>

        <h3>Sales</h3>
        <ul>
            {% for sale in sales %}
            <li>{{ sale['product'] }}, Quantity: {{ sale['quantity_sold'] }}, Price: {{ sale['price'] }} €</li>
            {% endfor %}
        </ul>
        <form method="post" action="{{ url_for('invoice_detail', invoice_id=invoice['_id']) }}">
            <button class="button" type="submit">Download Invoice</button>
        </form>
        <a class="button" href="{{ url_for('home') }}">Home</a>
    </div>
</body>
</html>

