<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Invoice List</h1>
    <ul>
        {% for invoice in invoices %}
        <li>Invoice ID: {{ invoice.id }} - Total Amount: {{ invoice.total_amount }}</li>
        {% endfor %}
    </ul>
    <br>
    <a class="button" href="{{ url_for('home') }}">Home</a>
</body>
</html>