<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Invoice Details</h2>
    <p>Invoice Number: {{ invoice['invoice_number'] }}</p>
    <p>Total Amount: {{ invoice['total_amount'] }}</p>
    <p>Sales:</p>
    <ul>
        {% for sale in invoice['sales'] %}
        <li>{{ sale['product_id'] }} - Quantity: {{ sale['quantity_sold'] }}</li>
        {% endfor %}
    </ul>
    <br>
    <a class="button" href="{{ url_for('home') }}">Home</a>
</body>
</html>