
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Create Invoice</h1>

<form method="POST">
    <label for="invoice_number">Invoice Number:</label>
    <input type="text" name="invoice_number" required>

    <label for="sales">Select Sales:</label>
    <ul>
        {% for sale in sales %}
        <li>
            <input type="checkbox" name="sales" value="{{ sale['_id'] }}">
            Product ID: {{ sale['product_id'] }}, Product: {{ sale['product'] }}, Quantity: {{ sale['quantity_sold'] }}
        </li>
        {% endfor %}
    </ul>

    <button type="submit">Generate Invoice</button>
    <br>
    <a href="{{ url_for ('home') }}" class="button button-secondary">Cancel</a>
</form>
