<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Update Product</h1>
    <form method="POST">
        <label for="name">Product Name:</label>
        <input type="text" name="name" value="{{product.name}}" required>
        <label for="sku">SKU:</label>
        <input type="text" name="sku" value="{{product.sku}}" required>
        <label for="category">Category:</label>
        <input type="text" name="category" value="{{product.category}}" required>
        <label for="quantity_in_stock">Quantity in Stock:</label>
        <input type="number" name="quantity_in_stock" value="{{product.quantity_in_stock}}" required>
        <label for="price">Price:</label>
        <input type="number" name="price" value="{{product.price}}" required>
        <label for="description">Description:</label>
        <textarea name="description" required>{{product.description}}</textarea>
        <button type="submit">Update Product</button>
        <br>
        <a class="button" href="{{ url_for('home') }}">Cancel</a>

    </form>
        
    
</body>
</html>