<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Create Sale</h1>

<form method="POST">
    <label for="product_id">Product:</label>
    <select name="product_id">
        {% for product_id, product_name in products.items() %}
        <option value="{{ product_id }}">{{ product_name }}</option>
        {% endfor %}
    </select>

    <label for="quantity_sold">Quantity Sold:</label>
    <input type="number" name="quantity_sold" required>

    <label for="sale_date">Sale Date:</label>
    <input type="date" name="sale_date" required>

    <button type="submit">Record Sale</button>
    <br>
    <a class="button" href="{{ url_for('home') }}">Cancel</a>
</form>


