<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Sales List</h1>

<form method="POST">
    <label for="product_id">Product:</label>
    <select name="product_id">
        {% for product_id, product_name in products.items() %}
        <option value="{{ product_id }}">{{ product_name }}</option>
        {% endfor %}
    </select>

    <label for="quantity_sold">Quantity Sold:</label>
    <input type="number" name="quantity_sold" required>

    <label for="sale_date">Sale Date:</label>
    <input type="date" name="sale_date" required>

    <button type="submit">Record Sale</button>
</form>

<a class="button" href="{{ url_for('home') }}">Home</a>
<br>
<br>

<ul>
    {% if sales %}
        {% for sale in sales %}
        <li>{{ sale['product']['name'] }} - Quantity Sold: {{ sale['quantity_sold'] }} - Date: {{ sale['sale_date'] }}</li>
        {% endfor %}
    {% else %}
        <li>No sales recorded</li>
    {% endif %}
</ul>
