<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update Product</h2>
    <form method="POST">
        <label for="name">Product Name:</label>
        <input type="text" name="name" required>
        <label for="sku">SKU:</label>
        <input type="text" name="sku" required>
        <label for="category">Category:</label>
        <input type="text" name="category" required>
        <label for="quantity_in_stock">Quantity in Stock:</label>
        <input type="number" name="quantity_in_stock" required>
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" required>
        <label for="description">Description:</label>
        <textarea name="description" required></textarea>
        <button type="submit">Update Product</button>
    </form>
        <a class="button" href="{{ url_for('home') }}">Home</a>
</body>
</html>